body {
  background: rgb(236, 227, 216);
  font-family: sans-serif;
  color: white;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  background: white;
  height: 100vh;
}

p {
  padding: 0;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

button {
  border: 4px solid white;
  background: rgba(255, 255, 255, .1);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, .5);
  }
}