.c-npg {
  position: relative;
  background: white;
}

.c-npg__items {
  padding-top: 56%;
  overflow: hidden;
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    background: rgba(211, 44, 127, 0.3);
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  &:after {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 6rem rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
  }
}

.c-npg__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  &.is-hidden.is-active {
    z-index: 3;
  }

  &.is-hidden {
    animation: np-gallery-fade-out 2s linear forwards;
    z-index: 1;
  }

  &.is-active {
    animation: np-gallery-fade-in 5s cubic-bezier(.12,.63,.6,.74) forwards;
    z-index: 2;
  }
}

.c-npg__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.c-npg__content {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  z-index: 5;
  font-size: 4rem;
  max-width: 50%;
}

@keyframes np-gallery-fade-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes np-gallery-fade-out {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}